<footer id="footer">

  <div class="row footer">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a class="navbar-brand" href="#">ARYA Optics</a><br>
      <p>Computerised eye testing</p>
      <p>contact lens clinic</p>
      <p>Our purpose is to make you comfortable see Better and look better with our eyeglasses lenses and sunglasses.</p>
        </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p>Follow us</p>
      <span>Twitter</span><i class="fab fa-twitter ficon icon"></i><br>
      <span>Facbook</span><i class="fab fa-facebook-f ficon icon"></i><br>
      <span>Instagram</span><i class="fab fa-instagram ficon icon"></i><br>
      <span>Email</span><i class="fas fa-envelope ficon icon"></i>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p>Get in touch</p>
      <p>Madhuram Complex, Plot No.77/78, Sector-19, Shop No.10, Kamothe, Navi Mumbai-410209</p>
      <br>
      <p>Mayur Dhanavade</p>
      <span>9769032212</span><i class="fas fa-phone-alt icon"></i>
      <p>Shubhangi Chavan</p>
      <span>9769032212</span><i class="fas fa-phone-alt icon"></i>

    </div>
  </div>
  <hr>

  <p>© Copyright 2018 AryaOptics</p>

</footer>
