<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ARYA Optics</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="login-reg btn btn-light btn-lg" href="/register" role="button">Register</a>
  <a class="login-reg btn btn-dark btn-lg" href="/login" role="button">Login</a>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item ">
          <a class="nav-link " href="/eyeglasses"  role="button"  aria-expanded="false">
            Eyeglasses
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/Sunglasses"  role="button"  aria-expanded="false">
            Sunglasses
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/lenses"  role="button"  aria-expanded="false">
            Contact lenses
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  nav{
  }
</style>
